Package: cliss
Version: 2.1
Section: utils
Priority: optional
Architecture: all
Depends: bash, python3 (>= 3.6), coreutils
Maintainer: Isuru Gunarathne <isuru623@gmail.com>
Description: CLISS - Command Line Interface Screen Savers
 A collection of 12 animated terminal screensavers: matrix rain, fire,
 plasma, starfield, fireworks, an aquarium, pipes and more.
